/*.search-and-news {
	left: 50%;
    top: 10%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
*/

form {
	display: flex;
}

.search-button {
	border: none;
}

.page-title, .search {
	margin: 2%;
}

input {
	padding: 5px;
	width: 50%;
}

.error-text {
	margin: 4%;
}

.central-content {
	display: flex;
	flex-direction: row;
}

.left-button, .right-button {
	border: none;
	background-color: white;
	display: none;
}

.news {
	display: flex;
	flex-direction: row;
	height: 500px;
}

.news-image {
	width: 45%;
	margin: 0 auto;
}

.news-content {
	padding: 2%;
	background-color: #F2F2F2;
}

.news-author {
	padding-bottom: 2%;
}

.news-text {
	padding: 0 0 5% 0;
}

a {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid black;
}